body {
    margin: 0px;
    padding: 0px;
    /* background-image: url('https://cdn.pixabay.com/photo/2015/07/17/22/42/startup-849804__340.jpg'); */
    background-image: url('https://media.istockphoto.com/photos/empty-white-studio-room-abstract-background-picture-id1147521090?k=20&m=1147521090&s=612x612&w=0&h=hANr2_z2jYk27erulIAUIyMvToBK1ABbdQ4VcE8VhBU=');
    background-repeat: no-repeat;
    background-size: 1800px 700px;
    background-color: #e7e2e2;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

}

/* Front page & Navbar style */
.logo img {
    /* border: 2px solid red; */
    height: 114px;
    width: 146px;
    margin: 21px 29px;
    padding: 4px 4px;
}

.logo {
    display: inline-block;
}

.right {
    position: absolute;
    top: 2px;
    right: 12px;
    display: inline-block;
    /* border: 2px solid blue; */
    width: 300px;
    margin: 27px 29px;
    padding: 8px 8px;
}

.right li {
    display: inline-block;
}

.right li a {
    text-decoration: none;
    color: black;
    padding: 25px 14px;
    font-size: 20px;
    font-family: 'Abyssinica SIL', serif;
}

.right li a:hover {
    color: blue;
    text-decoration-line: underline;
}

.right li a:active {
    color: blue;
    text-decoration: underline;
}

.container h1 {
    display: block;
    margin: 36px 146px;
    padding: 4px 4px;
    width: 700px;
    color: blue;
    font-size: 80px;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Dancing Script', cursive;
    /* text-decoration: underline; */
}

.text h4 {
    color: blue;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin: -12px 479px;
    width: 600px;
    line-height: 42px;
}

/* Contact form */
.box {
    /* border: 2px solid red; */
    background-color: #03a9f4;
    margin: 99px auto;
    /* padding: 2px 2px; */
    height: 500px;
    border-radius: 20px;
    width: 800px;
}

.box input,
textarea {

    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}

#me {
    text-align: left;
    margin-left: 20px;
    border-radius: 5px;
}

#submit {
    width: 200px;
    margin: 0px 280px;
}

/* Subscribe */
.subscribe {
    background-color: #03a9f4;
    height: 200px;
    margin: 30px 0px;
    border-radius: 10px;
}

.subscribe h1 {
    display: inline-block;
    font-size: 61px;
    margin: 71px 137px;
}

#email1 {
    position: absolute;
    width: 500px;
    height: 50px;
    margin: 80px 200px;
    padding: 2px 2px;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
}

#button {
    position: absolute;
    right: 171px;
    width: 138px;
    height: 50px;
    margin: 84px 2px;
    border-radius: 5px;
}

#button:hover {
    background-color: #03a9f4;
}

/* Social Apps */
.social {
    /* border: 2px solid red; */
    margin: 73px 0px;
}

.address {
    margin-left: 122px;
    color: #6e6666;
}

.email2 {
    line-height: 30px;
    margin-left: 122px;
    color: #6e6666;
}

.apps {
    float: right;
    margin: 2px 666px;
    padding: 2px 7px;
}

.apps li {
    display: inline-block;
    text-decoration: none;
}

#twitter {
    width: 40px;
    height: 40px;
}

#youtube {
    width: 40px;
    height: 40px;
}

#facebook {
    width: 60px;
    height: 40px;
}

#instagram {
    width: 40px;
    height: 40px;
}